[submodule "[REPO]/pygpt-gencore"]
	path = [REPO]/pygpt-gencore
	url = https://github.com/DLRP1995/pygpt-gencore.git
	branch = main
	ignore = dirty

[submodule "[REPO]/shell-gpt-gencore"]
	path = [REPO]/shell-gpt-gencore
	url = https://github.com/DLRP1995/shell-gpt-gencore.git
	branch = main
	ignore = dirty

[submodule "pygpt"]
	path = pygpt
	url = https://github.com/DylanPollock/pygpt.git
	branch = main
	ignore = untracked

[submodule "pypdf"]
	path = pypdf
	url = https://github.com/DylanPollock/pypdf.git
	branch = main
	ignore = untracked

[submodule "terminal"]
	path = terminal
	url = https://github.com/microsoft/terminal.git
	branch = main
	ignore = dirty

[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/PowerShell/PowerShell.git
	branch = main
	ignore = dirty

[submodule "vscode"]
	path = vscode
	url = https://github.com/microsoft/vscode.git
	branch = main
	ignore = dirty
